/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Montserrat', sans-serif; }

/**
 * Basic typography style for copy text
 */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  padding: 4rem 3rem;
  font-size: 1.8rem;
  z-index: 10000; }
  .navbar .logo a {
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: .2rem;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s; }
  .navbar__menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 75em) {
      .navbar__menu {
        display: none; } }
    .navbar__menu li {
      position: relative;
      list-style: none; }
      .navbar__menu li a {
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: white;
        letter-spacing: 2px;
        font-weight: 400;
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s; }

.navbar__menu.open {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 68, 0, 0.753);
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
  .navbar__menu.open li {
    margin-bottom: 3rem; }
    .navbar__menu.open li a {
      position: relative;
      margin: 0 15px;
      font-size: 3rem;
      text-decoration: none;
      color: white;
      letter-spacing: 2px;
      font-weight: 400;
      -webkit-transition: 0.6s;
      -o-transition: 0.6s;
      transition: 0.6s;
      -webkit-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
      .navbar__menu.open li a:hover {
        color: goldenrod;
        font-size: 3.6rem; }

.navbar.sticky {
  padding: 2rem 3rem;
  background-color: brown; }
  @media (max-width: 75em) {
    .navbar.sticky {
      padding: .5rem 3rem; } }

.navbar__toggler {
  position: relative;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8rem;
  width: 8rem;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
  @media (max-width: 75em) {
    .navbar__toggler {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  .navbar__toggler-burger {
    height: 3px;
    width: 1.8rem;
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 0 2px 5x rgba(255, 101, 47, 0.2);
            box-shadow: 0 2px 5x rgba(255, 101, 47, 0.2);
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
    .navbar__toggler-burger::before, .navbar__toggler-burger::after {
      content: '';
      position: absolute;
      height: 3px;
      width: 2.6rem;
      border-radius: 5px;
      background-color: white;
      -webkit-box-shadow: 0 2px 5x rgba(255, 101, 47, 0.2);
              box-shadow: 0 2px 5x rgba(255, 101, 47, 0.2);
      -webkit-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out; }
    .navbar__toggler-burger::before {
      -webkit-transform: translateY(-1rem);
          -ms-transform: translateY(-1rem);
              transform: translateY(-1rem); }
    .navbar__toggler-burger::after {
      -webkit-transform: translateY(1rem);
          -ms-transform: translateY(1rem);
              transform: translateY(1rem); }

.navbar__toggler-burger.open {
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none; }
  .navbar__toggler-burger.open.open::before {
    -webkit-transform: rotate(45deg) translate(35px, -35px);
        -ms-transform: rotate(45deg) translate(35px, -35px);
            transform: rotate(45deg) translate(35px, -35px); }
  .navbar__toggler-burger.open.open::after {
    -webkit-transform: rotate(-45deg) translate(35px, 35px);
        -ms-transform: rotate(-45deg) translate(35px, 35px);
            transform: rotate(-45deg) translate(35px, 35px); }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

span {
  font-size: 4rem;
  font-weight: 600; }
  @media (max-width: 75em) {
    span {
      font-size: 3rem; } }

label {
  margin-bottom: 3.2rem; }

input {
  margin: 3.2rem; }

::-webkit-input-placeholder {
  color: #416D4E; }

::-moz-placeholder {
  color: #416D4E; }

:-ms-input-placeholder {
  color: #416D4E; }

::-ms-input-placeholder {
  color: #416D4E; }

::placeholder {
  color: #416D4E; }

input,
textarea {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: 1.8rem;
  padding: 2rem 2rem 2rem 1.5rem;
  border-radius: 2.5rem;
  -webkit-box-shadow: inset -3px -3px 7px #cfcfcf73, inset 3px 3px 5px rgba(94, 104, 121, 0.37);
          box-shadow: inset -3px -3px 7px #cfcfcf73, inset 3px 3px 5px rgba(94, 104, 121, 0.37);
  width: 80%; }

textarea {
  min-height: 16rem;
  resize: none; }

input[type=submit] {
  width: 30%; }

.radioBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .radioBtn label {
    margin-top: 3.2rem; }

.btn {
  display: inline-block;
  background-color: #F92814;
  color: white;
  padding: 1rem 2.08rem;
  border: none;
  font-size: 2rem;
  border-radius: 2rem;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }
  .btn:hover {
    background-color: #f19c1c;
    color: black; }

.tempConverter {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(148, 99, 111, 0.301)), to(rgba(129, 98, 52, 0.459))), url("/css/assets/img/bg.jpg");
  background-image: -o-linear-gradient(left top, rgba(148, 99, 111, 0.301), rgba(129, 98, 52, 0.459)), url("/css/assets/img/bg.jpg");
  background-image: linear-gradient(to right bottom, rgba(148, 99, 111, 0.301), rgba(129, 98, 52, 0.459)), url("/css/assets/img/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .tempConverter .container {
    background-color: antiquewhite;
    height: auto;
    width: 75%;
    padding: 3.2rem;
    border-radius: .5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 2rem 25% 2rem 50%;
    grid-template-columns: 25% 25% 50%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 2rem;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem; }
  .tempConverter .container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }
  .tempConverter .container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }
  .tempConverter .container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5; }
    @media (max-width: 75em) {
      .tempConverter .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
<<<<<<< HEAD
        flex-direction: column;
        width: 90%; } }
=======
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
>>>>>>> 95c4169ee4399b4884ab0c2964dbf5a56f3ff17e
    .tempConverter .container .content-visual svg {
      height: 20rem;
      width: 20rem; }
      @media (max-width: 37.5em) {
        .tempConverter .container .content-visual svg {
          height: 10rem;
          width: 10rem; } }

.content-display {
  font-size: 3rem;
  background-color: white;
  padding: 3.2rem;
  border: 1px solid #416D4E;
  border-radius: .5rem;
  -webkit-box-shadow: inset -3px -3px 7px #cfcfcf73, inset 3px 3px 5px rgba(94, 104, 121, 0.37);
          box-shadow: inset -3px -3px 7px #cfcfcf73, inset 3px 3px 5px rgba(94, 104, 121, 0.37);
  color: #F92814;
  font-weight: 600;
  opacity: 0;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out; }

.errorMsg {
  font-size: 1.6rem;
  color: #F92814;
  opacity: 0; }

.active {
  opacity: 100; }

.cupConverter {
  margin-top: 4.8rem;
  padding: 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .cupConverter .container {
    background-color: #05a8aaff;
    height: auto;
    width: 75%;
    padding: 3.2rem;
    border-radius: .5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 2rem 25% 2rem 50%;
    grid-template-columns: 25% 25% 50%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 2rem;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem; }
  .cupConverter .container > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1; }
  .cupConverter .container > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3; }
  .cupConverter .container > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5; }
    @media (max-width: 75em) {
      .cupConverter .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
<<<<<<< HEAD
        flex-direction: column;
        width: 90%; } }
=======
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
>>>>>>> 95c4169ee4399b4884ab0c2964dbf5a56f3ff17e
    .cupConverter .container .content-visual svg {
      height: 20rem;
      width: 20rem; }
      @media (max-width: 37.5em) {
        .cupConverter .container .content-visual svg {
          height: 10rem;
          width: 10rem; } }

.cup-display {
  font-size: 3rem;
  background-color: white;
  padding: 3.2rem;
  border: 1px solid #416D4E;
  border-radius: .5rem;
  -webkit-box-shadow: inset -3px -3px 7px #cfcfcf73, inset 3px 3px 5px rgba(94, 104, 121, 0.37);
          box-shadow: inset -3px -3px 7px #cfcfcf73, inset 3px 3px 5px rgba(94, 104, 121, 0.37);
  color: #F92814;
  font-weight: 600;
  opacity: 0;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out; }

.errorMsg {
  font-size: 1.6rem;
  color: #F92814;
  opacity: 0; }

.active {
  opacity: 100; }
